<div id="comment-<%= comment.id %>">
<hr>
  <div class="flex items-center my-4">
    <%= image_tag comment.user.profile.avatar.url(:index_size), size: '40x40', class: "mr-2" %>
    <%= comment.user.profile.name %>
  </div>

  <div id="<%= comment.id %>">
    <%= simple_format(comment.body) %>
  </div>

  <div class="card-actions justify-end mt-2">
  <% if current_user.own?(comment) %>
    <%= link_to edit_post_comment_path(@post, comment), class: "btn btn-ghost mr-1" do %>
      <i class="fa-solid fa-pen-to-square fa-lg" style="color:#fa8072"></i>
    <% end %>
    <%= button_to  post_comment_path(@post, comment), method: :delete,  class: "btn btn-ghost mr-1" do %>
      <i class="fa-solid fa-trash fa-lg" style="color:#fa8072"></i>
    <% end %>
  <% end %>
  </div>
</div>
