<div class="container mx-auto">

<div class="card bg-accent text-primary-content">
  <div class="card-body">
    <h2 class="card-title text-2xl mb-3">作業のオトモについて</h2>
    <p>デスクワーク作業のお供に食べたお菓子や飲み物を、「匂い」「音」「こぼしやすさ」といった</p>
    <p>職場だと気になってしまうポイントと一緒に、記録・シェアするサービスです。</p>

    <div class="card-actions justify-left mt-3">
      <% if user_signed_in? %>
        <button class="btn"><%= link_to "投稿を見にいく", posts_path %></button>
      <% else %>
        <button class="btn"><%= link_to "LINEログイン", user_line_omniauth_authorize_path %></button>
      <% end %>
    </div>

  </div>
</div>

<div class="font-bold text-xl my-4">このサイトの使い方・できること</div>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
      <input type="checkbox" id="collapse5" class="peer" />
      <label for="collapse5" class="collapse-title text-lg font-medium peer-checked:bg-secondary peer-checked:text-primary-content">
      LINEでログインしてユーザー登録する
      </label>
      <div class="collapse-content peer-checked:block hidden">
        <div class="font-bold text-lg my-1">LINEログイン</div>
        <p>メールやパスワード入力なしでログインできます。ログイン後にユーザー名とアバター画像を登録できます。</p>
        <%= image_tag 'sample_profile_form.png'%>
        <div class="font-bold text-lg my-1">マイページ</div>
        <p>ユーザー名、アバター画像、LINEプッシュ通知の受け取るかどうかを変更できます。</p>
        <%= image_tag 'sample_mypage.png'%>
    </div>
  </div>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
      <input type="checkbox" id="collapse1" class="peer" />
      <label for="collapse1" class="collapse-title text-lg font-medium peer-checked:bg-secondary peer-checked:text-primary-content">
        デスクワーク中に食べたお菓子や飲み物をシェアする
      </label>
      <div class="collapse-content peer-checked:block hidden">
        <div class="font-bold text-lg my-1">投稿する</div>
        <p>「匂い」「音」「こぼしやすさ」といった、デスクワーク中だと気になるポイントを、画像やコメントと一緒に投稿することできます。</p>
        <div class="flex gap-x-4">
          <div class="object-contain">
            <%= image_tag 'sample_post_form.png'%>
          </div>
          <div class="object-contain">
            <%= image_tag 'sample_post.png'%>
          </div>
        </div>
        <div class="font-bold text-lg my-1">投稿一覧</div>
        <p>職場で食べるとき気になるかどうかに注目して、ユーザーの投稿を一覧で見ることができます。</p>
        <%= image_tag 'sample_posts.png'%>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
      <input type="checkbox" id="collapse4" class="peer" />
      <label for="collapse4" class="collapse-title text-lg font-medium peer-checked:bg-secondary peer-checked:text-primary-content">
      ランダムに見つける
      </label>
      <div class="collapse-content peer-checked:block hidden">
        <div class="font-bold text-lg my-1">ランダムピックアップ</div>
        <p>全ての投稿からランダムに１件ピックアップされます。作業のお供がまだ決まっていない時、ランダムな出会いで選びませんか？</p>
        <div class="font-bold text-lg my-1">LINEプッシュ通知</div>
        <p>以下のQRコードから友だち追加すると、毎日お昼12時にランダムピックアップのURLが届きます。午後からの作業のお供の候補を見に行きませんか？</p>
        <p>※友だち追加後は、マイページで通知の受け取りが変更できます。</p>
        <%= image_tag 'sagyo-no-otomo_qr.png', size: '100x100'%>
    </div>
  </div>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
      <input type="checkbox" id="collapse3" class="peer" />
      <label for="collapse3" class="collapse-title text-lg font-medium peer-checked:bg-secondary peer-checked:text-primary-content">
        条件を絞って探す
      </label>
      <div class="collapse-content peer-checked:block hidden">
        <div class="font-bold text-lg my-1">絞り込み検索</div>
        <p>「匂い」「音」「こぼしやすさ」といった、職場でのデスクワーク中だと気になるポイントを絞り込んで検索することができます。</p>
        <%= image_tag 'sample_search.png'%>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
      <input type="checkbox" id="collapse2" class="peer" />
      <label for="collapse2" class="collapse-title text-lg font-medium peer-checked:bg-secondary peer-checked:text-primary-content">
        自分が食べたお菓子や飲み物を見返す
      </label>
      <div class="collapse-content peer-checked:block hidden">
        <div class="font-bold text-lg my-1">自分の投稿一覧</div>
        <p>自分が投稿したお菓子や飲み物を、まとめて見返すことができます。</p>
      </div>
    </div>

</div>
