<div class="container mx-auto">

  <div class="card text-primary-content" style="background-image: url('<%= asset_path 'background3.png'%>'); background-size: cover; background-position: center; position: relative;">
    <div class="card-body ">
      <h2 class="card-title text-2xl my-3">作業のオトモについて</h2>
      <p>デスクワーク作業のお供に食べたお菓子や飲み物を、「匂い」「音」「こぼしやすさ」「手の汚れやすさ」といった、
      職場だと気になってしまうポイントと一緒に、記録・シェアするサービスです。</p>

      <div class="card-actions justify-left mt-3">
        <% if user_signed_in? %>
          <button class="btn"><%= link_to "投稿を見にいく", posts_path %></button>
        <% else %>
          <button class="btn"><%= link_to "LINEログイン", user_line_omniauth_authorize_path %></button>
        <% end %>
      </div>

    </div>
  </div>

  <div class="font-bold text-2xl flex flex-col items-center underline underline-offset-8 my-8">作業のオトモの使い方</div>

    <h3 class="card-title text-xl my-5">① LINEでログインしてユーザー登録する</h3>

    <div class="card bg-secondary bg-base-100 shadow-xl text-primary-content px-8 py-4 flex flex-col items-center justify-start">
        <div class="badge badge-outline badge-lg font-bold text-lg my-4">LINEログイン</div>
        <p>メールやパスワード入力なしでログインできます。ログイン後にユーザー名とアバター画像を登録できます。</p>
        <%= image_tag 'sample_profile_form.png', class: "my-3", style: "width: 150px;"%>
        <div class="badge badge-outline badge-lg font-bold text-lg my-4">マイページ</div>
        <p>ユーザー名、アバター画像、LINEプッシュ通知の受け取るかどうかを変更できます。</p>
        <%= image_tag 'sample_mypage.png', class: "my-3", style: "width: 150px;"%>

    </div>

    <h3 class="card-title text-xl my-5">② デスクワーク中に食べたお菓子や飲み物をシェアする</h3>

    <div class="card bg-secondary bg-base-100 shadow-xl text-primary-content px-8 py-4 flex flex-col items-center justify-start w-full">
        <div class="badge badge-outline badge-lg font-bold text-lg my-4">投稿する</div>
        <p>「匂い」「音」「こぼしやすさ」「手の汚れやすさ」といった、デスクワーク中だと気になるポイントを、画像やコメントと一緒に投稿することできます。</p>
        <p>※画像は必須ではありません</p>
          <div class="flex gap-x-4">
            <div class="object-contain">
              <%= image_tag 'sample_post_form.png', class: "my-3", style: "width: 150px;"%>
            </div>
            <div class="object-contain">
              <%= image_tag 'sample_post.png', class: "my-3", style: "width: 150px;"%>
            </div>
          </div>
        <div class="badge badge-outline badge-lg font-bold text-lg my-4">投稿一覧</div>
        <p>職場で食べるときに気になるかどうかに注目して、ユーザーの投稿を一覧で見ることができます。</p>
        <%= image_tag 'sample_posts.png', class: "my-3", style: "width: 150px;"%>
    </div>

    <h3 class="card-title text-xl my-5">③ デスクワーク中に食べられているお菓子や飲み物を見つける</h3>

    <div class="card bg-secondary bg-base-100 shadow-xl text-primary-content px-8 py-4 flex flex-col items-center justify-start w-full">
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">絞り込み検索</div>
      <p>「匂い」「音」「こぼしやすさ」といった、職場でのデスクワーク中だと気になるポイントを絞り込んで検索することができます。</p>
      <%= image_tag 'sample_search.png' , class: "my-3", style: "width: 150px;"%>
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">ランダムピックアップ</div>
      <p>全ての投稿からランダムに１件ピックアップされます。</p>
      <p>作業のお供がまだ決まっていない時、ランダムな出会いで選びませんか？</p>
      <%= image_tag 'sample_menu_random.png' , class: "my-3", style: "width: 150px;"%>
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">LINEプッシュ通知</div>
      <p>以下のQRコードから友だち追加すると、毎日お昼12時にランダムピックアップのURLが届きます。</p>
      <p>午後からの作業のお供の候補を見に行きませんか？</p>
      <p>※友だち追加後は、マイページで通知の受け取りが変更できます。</p>
      <%= image_tag 'sagyo-no-otomo_qr.png', size: "100x100" , class: "my-3"%>
    </div>

    <h3 class="card-title text-xl my-5">④ お気に入り・コメントする</h3>

    <div class="card bg-secondary bg-base-100 shadow-xl text-primary-content px-8 py-4 flex flex-col items-center justify-start w-full">
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">コメント機能</div>
      <p>投稿詳細ページでコメントを投稿できます。</p>
      <%= image_tag 'sample_comment.png' , class: "my-3", style: "width: 150px;"%>
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">お気に入り機能</div>
      <p>投稿詳細ページから、投稿をお気に入りできます。</p>
      <%= image_tag 'sample_like.png' , class: "my-3", style: "width: 150px;"%>
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">お気に入り一覧</div>
      <p>お気に入りしたお菓子や飲み物は、お気に入り一覧からまとめて見返すことができます。</p>
      <%= image_tag 'sample_menu_likes.png' , class: "my-3", style: "width: 150px;"%>
    </div>

    <h3 class="card-title text-xl my-5">⑤ 自分が投稿したお菓子や飲み物を見返す</h3>

    <div class="card bg-secondary bg-base-100 shadow-xl text-primary-content px-8 py-4 flex flex-col items-center justify-start w-full">
      <div class="badge badge-outline badge-lg font-bold text-lg my-4">自分の投稿一覧</div>
        <p>自分が投稿したお菓子や飲み物を、まとめて見返すことができます。</p>
        <%= image_tag 'sample_menu_myposts.png' , class: "my-3", style: "width: 150px;"%>
    </div>

  <div class="flex flex-col items-center mt-8">
    <button class="btn btn-outline" id="btn">トップに戻る</button>
  </div>

  <script>
  const btn = document.getElementById("btn");

  btn.addEventListener("click", () => {
    window.scroll({
      top: 0,
      behavior: "smooth",
    });
  });
  </script>

</div>
