<div class="card w-full sm:w-96 bg-base-100 shadow-xl mt-6 mx-4 sm:mx-auto">
  <figure>
  <%= image_tag post.image.url %>
  </figure>
  <div class="card-body">
    <div class="flex items-center">
      <%= image_tag current_user.profile.avatar.url, size: '40x40'%>
      <%= post.user.profile.name %>
    </div>

    <h2 class="card-title"><%= post.title %></h2>

    <div class="badge badge-accent">
    <%= post.category == "food" ? "食べ物" : "飲み物"%>
    </div>

    <% if post.eaten %>
      <p class="badge badge-outline">食べたことがある</p>
    <% else %>
      <p class="badge" >食べたことはない</p>
    <% end %>

    <div class="card-actions justify-light">
      <% if post.smell || post.sound || post.spill %>
        <% if post.smell %>
          <div class="badge badge-secondary  w-full flex">匂いがある</div>
        <% end %>
        <% if post.sound %>
          <div class="badge badge-secondary  w-full flex">音がする</div>
        <% end %>
        <% if post.spill %>
          <div class="badge badge-secondary  w-full flex">こぼしやすい</div>
        <% end %>
      <% else %>
        <p class="badge badge-primary w-full flex" >職場でも気にならない！</p>
      <% end %>
    </div>

    <%= post.body %>

    <div class="card-actions flex justify-end">
      <%= link_to "編集", edit_post_path(post), class: "btn btn-ghost mr-1" %>
      <%= button_to "削除", post_path(post), method: :delete,  class: "btn btn-ghost mr-1" %>
      <%= link_to "一覧に戻る", posts_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
