<div class="card w-full max-w-lg bg-base-100 shadow-xl my-2 mx-auto">
  <figure class="aspect-w-4 aspect-h-5">
  <%= image_tag post.image.url(:index_size), class: "object-cover" %>
  </figure>
  <div class="card-body">

    <div class="text-right">
      <%= render 'like_button', post: post %>
    </div>
    <div class="flex items-center mb-1">
      <%= image_tag post.user.profile.avatar.url(:index_size), class: "w-10 h-10 rounded-full object-cover mr-2" %>
      <%= post.user.profile.name %>
    </div>
    <h2 class="card-title text-lg h-8 mb-2"><%= post.title %></h2>
      <% if post.smell || post.sound || post.spill || post.hands_dirty %>
        <div class="badge badge-secondary w-full h-8 flex items-center justify-center">職場だと気になるかも？</div>
      <% else %>
        <div class="badge badge-accent w-full h-8 flex items-center justify-center">職場でも気にならない！</div>
      <% end %>
    <div class="card-actions justify-end mt-4">
      <%= link_to "詳細", post, class:"btn btn-primary" %>
    </div>
  </div>
</div>
