<div id="accordion">
  <div class="accordion-item">
    <button class="btn btn-active mb-2">絞り込み検索</button>
    <div class="accordion-content hidden">

      <%= form_with url: posts_path, method: :get do |f| %>

        <div class="my-3">
          <%= f.check_box :eaten, { class: 'checkbox' }, '1', '0' %>
          <%= f.label :eaten, '食べたことがある' %>
        </div>

        <div class="my-3">
          <%= f.check_box :smell, { class: 'checkbox' }, '1', '0' %>
          <%= f.label :smell, '匂いが気になる' %>
        </div>

        <div class="my-3">
          <%= f.check_box :sound, { class: 'checkbox' }, '1', '0' %>
          <%= f.label :sound, '音がする' %>
        </div>

        <div class="my-3">
          <%= f.check_box :spill, { class: 'checkbox' }, '1', '0' %>
          <%= f.label :spill, 'こぼしやすい' %>
        </div>

        <div class="my-3">
          <%= f.check_box :hands_dirty, { class: 'checkbox' }, '1', '0' %>
          <%= f.label :hands_dirty, '手が汚れる' %>
        </div>

        <div class="my-3">
          <%= f.select :category, [['食べ物', 0], ['飲み物', 1]], {}, { class: 'select select-bordered' } %>
        </div>

        <div class="my-3">
          <%= f.submit '検索',class: "btn btn-accent" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.btn').forEach(button => {
    button.addEventListener('click', function() {
      const accordionContent = button.nextElementSibling;
      accordionContent.classList.toggle('hidden');
    });
  });
</script>
