<div class="w-full flex flex-col md:flex-row">
  <div class="w-full md:w-1/2">
    <h1 class="font-bold text-2xl">絞り込み検索</h1>

      <%= form_with url: search_posts_path, method: :get do |f| %>

      <div class="my-5">
        <%= f.check_box :eaten, { class: 'checkbox' }, '1', '0' %>
        <%= f.label :eaten, '食べたことがある' %>
      </div>
      <div class="my-5">
        <%= f.check_box :smell, { class: 'checkbox' }, '1', '0' %>
        <%= f.label :smell, '匂いが気になる' %>
      </div>

      <div class="my-5">
        <%= f.check_box :sound, { class: 'checkbox' }, '1', '0' %>
        <%= f.label :sound, '音がする' %>
      </div>

      <div class="my-5">
        <%= f.check_box :spill, { class: 'checkbox' }, '1', '0' %>
        <%= f.label :spill, 'こぼしやすい' %>
      </div>

      <div class="my-5">
        <%= f.select :category, [['食べ物', 0], ['飲み物', 1]], {}, { class: 'select select-bordered' } %>
      </div>

      <div class="my-5">
        <%= f.submit '検索',class: "btn btn-accent" %>
      </div>
      <% end %>
  </div>
</div>

  <div class="w-full md:w-1/2 flex justify-center">
    <% if @posts.present? %>
      <div class="grid grid-cols-1">

        <%= render @posts %>

      </div>
    <% else %>
      <p>該当する投稿はありません。</p>
    <% end %>
  </div>
</div>