<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-4xl">投稿詳細</h1> 


<div class="card w-96 bg-base-100 shadow-xl mt-6">
  <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <div class="card-actions justify-end">
      <% if @post.smell || @post.sound || @post.spill %>
      気になるかも？
        <% if @post.smell %>
          <div class="badge badge-outline">匂い</div>
        <% end %>
        <% if @post.sound %>
          <div class="badge badge-outline">音</div>
        <% end %>
        <% if @post.spill %>
          <div class="badge badge-outline">こぼしやすい</div>
        <% end %>
      <% else %>
        <p class="badge badge-outline" >職場でも気にならない！</p>
      <% end %>
    </div>
    <%= @post.body %>
  </div>
  </div>
    <%= link_to "編集", edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "削除", post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "一覧に戻る", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>