

<div class=" flex flex-col items-center w-full px-4">
  <div class="w-full max-w-lg">
    <h1 class="font-bold text-2xl">投稿詳細</h1>
    <div class="mb-2">
    <%= render partial: "posts/full_post", locals: { post: @post } %>

    <%= turbo_frame_tag "new_comment" do %>
      <%= render 'comments/form', post: @post, comment: @comment %>
    <% end %>

    <%= turbo_frame_tag "comments" do %>
      <%= render 'comments/comments', comments: @comments %>
    <% end %>

    </div>
  </div>
</div>
